<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>To do list</span>
    <span class="example-spacer"></span>
    <span><a href="http://15.236.202.213:8000/display/" target="_blank">Link to an EC2 image displayer.</a></span>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
