<div class="center-div">
  <h3>Add a new item !</h3>

  <form (ngSubmit)="onSubmit()" [formGroup]="itemForm">
    <div class="form-group row">
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput type="text" id="title" class="form-control" formControlName="title">
      </mat-form-field>
    </div>
    <div class="form-group row">
      <mat-form-field appearance="fill">
        <mat-label>Content</mat-label>
        <input matInput type="text" id="content" class="form-control" formControlName="content">
      </mat-form-field>
    </div>
    <div class="form-group row">
      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <input matInput type="text" id="status" class="form-control" formControlName="status">
      </mat-form-field>
    </div>
    <div class="form-group row">
      <mat-form-field appearance="fill">
        <mat-label>Importance</mat-label>
        <input matInput type="number" id="position" class="form-control" formControlName="position">
      </mat-form-field>
    </div>
    <div class="form-group row">
      <mat-form-field appearance="fill">
        <mat-label>Select User</mat-label>
        <mat-select formControlName="user">
          <div *ngFor="let user of users">
            <mat-option [value]="user.name">{{user.name}}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>
    </div>

    <button routerLink="/" mat-raised-button color="primary">Return</button>
    <button type="submit" mat-raised-button color="primary" style="float: right;">Validate</button>

  </form>
</div>
